.hero{
    margin-bottom: 198px;
    .container{
    position: relative;
    padding-top: 600px;
    background-image: url(../img/mange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 &__contant{
top: 291px;
left: 0px;
position: absolute;
width: 40%;
background-color: #fff;
    h1{
font-weight: 700;
font-size: 50px;
line-height: 100%;
letter-spacing: -0.01em;
color: #33323d;
padding-top: 56px;
padding-right: 55px;
padding-bottom: 53px;
    }
    button{
        transition: 0.10ms;
        padding-left: 48px;
        border: none;
position: relative;
width: 200px;
height: 48px;
background: #203a4c;
font-weight: 400;
font-size: 12px;
letter-spacing: 0.17em;
text-transform: uppercase;
color: #fff;
img{
    position: absolute;
    top: 0;
    left: 0;
}
    }
    button:hover{
        background: #5fb4a2;
        transition: 0.10ms;
    }
   
 }
}
//banner1
@media (max-width:888px) {
    .hero__contant {
        width: 79%;
    }
}
@media (max-width:688px) {
    .hero__contant {
        width: 79%;
    }
}
@media (max-width:500px) {
    .hero__contant h1 {
        font-size: 35px;
    }
    .hero .container {
        padding-top: 507px;
    }
}
@media (max-width:311px) {
    .hero .container{
    padding-top: 163px;
    }
    .hero__contant h1 {
        font-size: 40px;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 28px;
    }
    .hero__contant {
        width: 103%;
    }
    .hero__contant {
        top: 163px;
        left: 0px;
        position: absolute;
    }
    .hero {
        margin-bottom: 330px;
    }
}